*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.header{
    width: 100%;
}
.header > .top_header{
    max-width: 100%;
    display: flex;
    padding: 10px 10px;
    background-color: #f6f7f9;
}
.header > .top_header > .icon{
    margin-left: 20px;
    color: #ababab;
    font-size: 19px;
}
.header > .top_header > .info > p{
    margin-left: 10px;
    color: #8a8a8a;
}
.header > .middle_header{
    display: flex;
    align-items: center;
    padding: 10px 40px;
    max-width: 100%;
    justify-content: space-between;
}
.header > .middle_header > .logo_box{
    display: flex;
    align-items: center;
    gap: 6px;
}
.header > .middle_header > .logo_box > .logo > img{
    max-width: 100%;
    height: 40px;
    cursor: pointer;
    object-fit: cover ;
}
.header > .middle_header > .logo_box:hover img{
    transform: scale(1.05);
}
.header > .middle_header > .logo_box > .text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header > .middle_header > .logo_box > .text > h1{
    font-family: Cursive;
    font-size: 20px;
    margin: 0;
}
.header > .middle_header > .logo_box:hover h1{
    color: #fed700;
}
.header > .middle_header > .search_box > input{
    padding: 10px 10px;
    outline: none;
    border: 1.5px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    background: #f6f7f8;
}
.header > .middle_header > .search_box > button{
    padding: 10px 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #cd1e76;
    outline: none;
    width: 50px;
    background: #cd1e76;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}
.header > .middle_header > .search_box > button:hover{
    background: #fed700;
    border: 1px solid #fed700;
    color: #cd1e76;
}
.header > .middle_header > .search_box > button:active{
    transform: scale(0.95);
}
.header > .middle_header > .user{
    display: flex;
    margin-right: 30px;
}
.header > .middle_header > .user > .icon{
    margin-right: 10px;
}
.header > .middle_header > .user > .btn > button{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
}
.header > .last_header{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    background: #232323;
    justify-content: space-between;
}
.header > .last_header > .user_profile{
    display: flex;
    margin-top: 10px;
}
.header > .last_header > .user_profile > .icon{
    padding: 10px 10px;
    background: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.header > .last_header > .user_profile > .icon:hover {
    background: #fed700;
    transform: rotate(-5deg);
}

.header > .last_header > .user_profile > .info{
    margin-left: 10px;
}
.header > .last_header > .user_profile > .info > h2{
    font-size: 18px;
    color: #ababab;
    margin-top: 10px;
}
.header > .last_header > .user_profile > .info > p{
    color: #ababab;
    font-size: 14px;
}
.header > .last_header > .user_profile > p{
    margin: 10px;
    color: #ababab;
    font-size: 15px;
}
.header > .last_header > .nav{
    margin-top: 15px;
}
.header > .last_header > .nav > ul{
    display: flex;
}
.header > .last_header > .nav > ul > li{
    list-style: none;
}
.header > .last_header > .nav > ul > li > .link{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.header > .last_header > .nav > ul > li > .link:hover{
    color: #fed700;
}
.header > .last_header > .offer{
    margin-right: 20px;
    padding: 10px 20px;
    background: #fed700;
    border-radius: 10px;
}
.header > .last_header > .offer:hover {
    background: #cd1e76;
    transform: translateY(-2px);
}
.header > .last_header > .offer > p{
    margin-top: 5px;
    text-transform: uppercase;
    color: #232323;
    font-weight: 600;
    font-size: 14px;
}
.header > .last_header > .offer:hover p {
    color: #fff;
}
.profile_overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_card{
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    min-width: 260px;
    text-align: center;
    position: relative;
    z-index: 1000;
}
.profile_card .close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.profile_card .close:hover{
    color: #cd1e76;
}
.profile_card .close:active{
    color: red
}
.profile_overlay > .profile_card > button{
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background: #fed700;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.profile_overlay > .profile_card > button:hover{
    color: #fed700;
    background-color: #cd1e76;
    transform: scale(1.05);
}
.profile_overlay > .profile_card > button:active{
    transform: scale(0.95);
}
@media (max-width: 768px){
    .header > .top_header{
        padding: 5px 5px;
    }
    .header > .top_header > .icon{
        margin-left: 5px;
        font-size: 18px;
    }
    .header > .top_header > .info > p{
        margin-left: 10px;
        font-size: 16px;
    }
    .header > .middle_header{
        padding: 5px 2px;
    }
    .header > .middle_header > .logo_box > .logo > img{
        height: 30px;
    }
    .header > .middle_header > .logo_box > .text > h1{
        font-size: 16px;
    }
    .header > .middle_header > .search_box > input{
        padding: 7px 14px;
        width: 195px;
    }
    .header > .middle_header > .search_box > button{
        padding: 7px 14px;
        width: 40px;
        margin-right: 5px;
    }
    .header > .middle_header > .user > .icon{
        margin-right: 1px;
    }
    .header > .middle_header > .user > .btn > button{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .header > .last_header{
        padding: 5px 2px;
    }
    .header > .last_header > .user_profile{
        margin-top: 0px;
    }
    .header > .last_header > .user_profile > .icon{
        margin: 5px;
        padding: 1px 1px;
    }
    .header > .last_header > .user_profile > .info{
        margin-left: 0px;
        margin-right: 2px;
        margin-top: 0px;
    }
    .header > .last_header > .user_profile > .info > h2{
        font-size: 12px;
    }
    .header > .last_header > .user_profile > p{
        margin: 5px;
        font-size: 12px;
    }
    .header > .last_header > .nav{
        margin-top: 7px;
    }
    .header > .last_header > .nav > ul > li > .link{
        margin-right: 12px;
        font-size: 14px;
    }
    .header > .last_header > .offer{
        margin: 0px;
        border-radius: 5px;
        padding: 1px 4px;
        display: flex;
    }
    .header > .last_header > .offer > p{
        margin-top: 10px;
        font-size: 10px;
        text-align: center;
    }
}
@media (max-width: 480px){
    .header > .top_header > .icon{
        margin-left: 5px;
        font-size: 16px;
    }
    .header > .top_header > .info > p{
        margin-left: 10px;
        font-size: 14px;
    }
    .header > .middle_header > .logo_box > .logo > img{
        height: 30px;
    }
    .header > .middle_header > .logo_box > .text > h1{
        font-size: 14px;
    }
    .header > .middle_header > .search_box > input{
        padding: 6px 12px;
        width: 135px;
    }
    .header > .middle_header > .search_box > button{
        padding: 6px 12px;
        width: 35px;
    }
    .header > .last_header > .user_profile > .icon{
        margin: 5px;
        padding: 1px 1px;
        border-radius: 50%;
    }
    .header > .last_header > .user_profile > .info{
        margin-top: 0px;
    }
    .header > .last_header > .user_profile > .info > h2{
        font-size: 11px;
    }
    .header > .last_header > .user_profile > p{
        margin: 5px;
        font-size: 12px;
    }
    .header > .last_header > .nav{
        margin-top: 5px;
    }
    .header > .last_header > .nav > ul > li > .link{
        margin-right: 5px;
        font-size: 12px;
    }
    .header > .last_header > .offer{
        margin: 0px;
        border-radius: 5px;
        padding: 0px 2px;
    }
    .header > .last_header > .offer > p{
        margin-top: 10px;
        font-size: 9px;
        text-align: center;
    }
}
@media (max-width: 360px){
    .header > .top_header > .icon{
        margin-left: 5px;
        font-size: 16px;
    }
    .header > .top_header > .info > p{
        margin-left: 10px;
        font-size: 14px;
    }
    .header > .middle_header{
        padding: 5px 2px;
    }
    .header > .middle_header > .logo_box{
        gap: 2px;
    }
    .header > .middle_header > .logo_box > .logo > img{
        height: 25px;
    }
    .header > .middle_header > .logo_box > .text > h1{
        font-size: 10px;
    }
    .header > .middle_header > .search_box > input{
        padding: 5px 10px;
        width: 125px;
    }
    .header > .middle_header > .search_box > button{
        padding: 5px 5px;
        width: 25px;
        margin-right: 10px;
    }
    .header > .middle_header > .user > .icon{
        margin-right: 1px;
    }
    .header > .middle_header > .user > .btn > button{
        font-size: 12px;
        margin-bottom: 7px;
    }
    .header > .last_header > .user_profile{
        margin-top: 0px;
    }
    .header > .last_header > .user_profile > .info{
        margin-left: 0px;
        margin-right: 2px;
        margin-top: 1px;
    }
    .header > .last_header > .user_profile > .info > h2{
        font-size: 10px;
    }
    .header > .last_header > .user_profile > p{
        margin: 5px;
        font-size: 10px;
    }
    .header > .last_header > .nav{
        margin-top: 5px;
    }
    .header > .last_header > .nav > ul > li > .link{
        margin-right: 5px;
        font-size: 11px;
    }
    .header > .last_header > .offer{
        margin: 0px;
        border-radius: 5px;
        padding: 0px 2px;
    }
    .header > .last_header > .offer > p{
        margin-top: 10px;
        font-size: 8px;
    }    
}